.nim-schedule {
	width: 100%;
	height: 100%;
    background-color: #cfe5dc;

    &__section-title {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #cfe5dc;
        border-bottom: 1px solid white;
    }

    &__row {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: baseline;
        padding-left: 20px;
        padding-top: 20px;
        box-sizing: border-box;
    }

    &__1-coloumn {
        width: 30%;
        height: 100px;
        display: flex;
    }

    &__icon-time {
        margin-right: 40px;
        width: 36px;
        height: 36px;
        background-color: gray;
        border-radius: 20px;
    }

    &__2-coloumn {
        width: 30%;
        height: 100px;
    }

    &__3-coloumn {
        width: 20%;
        height: 100px;
    }

    &__4-coloumn {
        width: 20%;
        height: 100px;
    }

    

}