.friendlist {
	/*padding: var(--space-m);*/

	&__group {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&__letter {
		width: 100%;
	}

	&__item {
		width: var(--space-xxxxxxl);
		text-align: center;
		position: relative;
	}

	&__status {
		position: absolute;
		bottom: 0;
		right: var(--space-xs);
		border-radius: 50%;
		width: var(--space-s);
		height: var(--space-s);
		border: 2px solid var(--color-default);
		&_view {
			&_online {
				background-color: var(--color-success);
			}
		}
	}
}
