.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;

    &_logo {
        /* align-content: center;
        justify-content: left:  */
    }

    &_menu-button {
        /* align-content: center;
        justify-content: right; */
    }
}