.informer {
  min-height: 480px;
  &_view {
    &_alert {
      background-color: var(--color-alert);
    }
    &_warn {
      background-color: var(--color-warn);
    }
    &_success {
      background-color: var(--color-success);
    }
  }

  &__icon-wrapper {
    width: 24px;
    margin: var(--space-xxxl) auto var(--space-s);
    padding: var(--space-xl);
    border-radius: 50%;
    border: 2px solid var(--color-default);
  }

  &__info {
    padding: var(--space-m);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 8px;
  }
}
