.product {
  min-height: 480px;

  &__footer {
    &_state {
      &_fold {
        background: var(--color-default);
      }
      &_unfold {
        background: var(--color-link);
      }
    }
    align-items: flex-end;
    width: calc(100% - 2*var(--space-l));
    border-radius: 8px;
    margin: var(--space-l);
  }
}
