.nim-price {
   /* position: relative;*/
	width: 100%;
	height: 100%;
    background-color: white;

    &__section-title {
        margin-top: 20px;
        margin-left: 20px;
    }

    /* секции */

    &__row {
        margin: auto;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        width: 1000px; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* плитки-абонементы */

    &__tile {
        width: 310px;
        min-width: 310px;
        height: 310px;  
        margin-right: 20px;

        &_background {
            &_lilac {
                background-color: #d6cee5;
            }

            &_gray {
                background-color: #e6e6e6;
            }

            &_green {
                background-color: #cfe6dc;
            }
        }

        &_align_between {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__price {
        margin-left: 30px;
        margin-top: 20px;
        display: flex;
        align-items: baseline;
    }

    &__subscription {
        margin-left: 30px;
        margin-bottom: 60px;
    }

    &__title_50 {
        font-size: 50px;
        letter-spacing: 1px;
        padding-right: 20px;
    }

    &__title_24 {
        font-size: 24px;
        letter-spacing: 1px;
    }

    &__title_15 {
        font-size: 15px;
        letter-spacing: 1px;
    }

}