.meetup {
	&__photo {
		height: 170px;
		overflow: hidden;
	}
	&__description {
		background-color: #027EFF; /* */
	}
	&__feedback {
		background-color: var(--color-default); 
	}
	&__info {
		background-color: var(--color-default);
	}
	&__rating {
		opacity: 0.7;
	}
}
